.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.date_field{
  height: 29px;
  padding: 5px;
  width: 150px;
  font-size: 14px;
  border-radius: 5px;
}

.counter_wrapper{
  top: 45%;
  position: absolute;
  left: 50%;
  width: 30em;
  height: 15em;
  padding-top: 1em;
  margin-top: -9em;
  border-radius: 5px;
  margin-left: -15em;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
.add_butt,.sub_butt{
  background: #3399ff;
  box-shadow: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  position: relative;
}
.add_butt{
  left: -5%;
}
.sub_butt{
  left: 5%;
}
